# --------- General ML/DS Libraries --------- #
jupyter
gdown
pandas
scikit-learn
matplotlib
seaborn


# --------- NLP libraries --------- #
wordcloud
spacy
transformers

# --------- pytorch --------- #
torch>=1.10.0
torchvision>=0.11.0
lightning
torchmetrics==0.11.0
torchtext


# --------- loggers --------- #
wandb
# neptune-client
# mlflow
# comet-ml

# --------- Utils --------- #
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
Sphinx          # documentation
python-dotenv   # .env file handling
# sh            # for running bash commands in some tests (linux/macos only)

# local package
 -e .
